<form action="/memo/<%= h @memo_id %>" method="POST">
  <h3>タイトル</h3>
  <input type="text" id="title" name="title" value="<%= h @memo_title %>">
  <h3>内容</h3>
  <textarea id="text" name="text"><%= h @memo_text %></textarea>
  <input type="hidden" name="_method" value="PATCH">
  <input class="button" type="submit" value="保存">
</form>
