<form action="/memo/<%= @memo['id'] %>" method="POST">
  <h3>タイトル</h3>
  <input type="text" class="single_line_text" name="title" value="<%= h @memo['title'] %>" required>
  <h3>内容</h3>
  <textarea class="multi_line_text" name="main_text" required><%= h @memo['main_text'] %></textarea>
  <input type="hidden" name="_method" value="PATCH">
  <div class="flexbox">
    <input class="button" type="submit" value="保存">
  </div>
</form>
