<ul>
  <% @memos.each do |memo| %>
  <li><a href="/memo/<%= memo['id'] %>"><%= h memo['title'] %></a></li>
  <% end %>
</ul>
<div class="flexbox">
  <a class="button" href="/addition">新規作成</a>
</div>
