<!DOCTYPE html>
<html lang="ja">
<head>
  <link rel="stylesheet" href="/style.css">
  <meta charset="utf-8">
  <title><%= @title %></title>
</head>
<body>
  <h1><a class="top" href="/">memo app</a></h1>
  <div class="main">
  <h2 class="page_title"><%= @title %></h2>
    <%= yield %>
  </div>
</body>
</html>
