<p><b class="memo_title"><%= h @memo_title %></b></p>
<p><%= h(@memo_text).gsub(/\R/, "<br>") %></p>
<div class="button_div">
  <form method="get" action="/editing/<%= h @memo_id %>">
    <input class="button" type="submit" value="編集">
  </form>
<form method="post" action="/memo/<%= h @memo_id %>">
  <input type="hidden" name="_method" value="DELETE">
  <input class="button" type="submit" value="削除">
</form>
</div>
