body {
    width: 600px;
    margin: auto;
    background-color: #E0E0E0;
}
.top {
    margin: 15px;
    color: #008877;
    text-decoration: none;
}
.main {
    width: 540px;
    padding: 20px;
    margin: auto;
    border-radius: 20px;
    background-color: #F0F0F0;
}
h1 {
    margin:10px;
}
h2 {
    margin: 0;
}
.page_title {
    text-align: center;
}
.button {
    display: block;
    width: 140px;
    height: 60px;
    margin:auto;
    border: 1px solid;
    border-radius: 10px;
    background-color: #C0C0C0;
    cursor: pointer;
}

.button {
    display: inline-block;
    text-align: center;
    display: block;
    width: 140px;
    height: 45px;
    padding: 20px 0 0 0px;
    margin:auto;
    border: 1px solid;
    border-radius: 10px;
    color: black;
    background-color: #C0C0C0;
    cursor: pointer;
    text-decoration: none;
}
.button_div {
    display: flex;
    justify-content:space-around
}
#title {
    width: 522px;
    padding: 8px;
    border: 1px solid;
    border-radius: 5px;
    
}
#text {
    width: 522px;
    height: 300px;
    padding: 8px;
    border: 1px solid;
    border-radius: 5px;
}
